<div class="navbar">
	<div class="navbar-inner" ng-controller="BlackCardsController" ng-cloak>
		<div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i><span>Bullshit Editor</span></a></div>
		<div class="center sliding">Calls ({{calls.length || "0"}})</div>
		<div class="right sliding"><a href="#" class="link" ng-click="addCall()"><i class="f7-icons">add</i></a></div>
	</div>
</div>
<div class="page" data-page="calls" ng-controller="BlackCardsController">
	<!-- <form class="searchbar">
		<div class="searchbar-input">
			<input type="search" placeholder="Search">
			<a href="#" class="searchbar-clear"></a>
		</div>
		<a href="#" class="searchbar-cancel">Cancel</a>
	</form> -->
	<div class="page-content" ng-cloak>
		<div class="row no-gutter">
			<div class="col-50 tablet-33" ng-repeat="card in calls">
				<div class="card black-card">
					<div class="card-text" ng-bind-html="card.text | render"></div>
					<div class="card-footer">
						<a href="#" class="link color-red" ng-click="deleteCall(card)">Delete</a>
						<a href="#" class="link" ng-click="editCall(card)">Edit</a>
					</div>
				</div>
			</div>
		</div>
		<div class="list-block" ng-if="calls.length == 0">
			<div class="list-block-label">There are no cards that could be displayed.</div>
		</div>
	</div>
</div>