<div class="navbar">
	<div class="navbar-inner" ng-controller="CategoriesController">
		<div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i><span>Bullshit Editor</span></a></div>
		<div class="center sliding">Decks ({{decks.length || "0"}})</div>
		<div class="right sliding"><a href="#" class="link" ng-click="addDeck()" ><i class="f7-icons">add</i></a></div>
	</div>
</div>
<div class="page" data-page="categories" ng-controller="CategoriesController">
<!--
	<form class="searchbar">
		<div class="searchbar-input">
			<input type="search" placeholder="Search">
			<a href="#" class="searchbar-clear"></a>
		</div>
		<a href="#" class="searchbar-cancel">Cancel</a>
	</form>
-->
	<div class="page-content" ng-cloak>
		<div class="row no-gutter">
			<div class="col-25 tablet-33" ng-repeat="deck in decks">
				<div class="card deck-card" ng-if="isAddingDeck && editingDeck.id == deck.id">
					<textarea class="card-input" type="text" placeholder="Deck Name" ng-model="$root.editingDeck.name" autofocus></textarea>
				
					<div class="card-footer">
						<a href="#" class="link color-red" ng-click="cancelEdit()">Cancel</a>
						<a href="#" class="link" ng-click="saveDeck()">Save</a>
					</div>
				</div>
				<div class="card deck-card" ng-hide="isAddingDeck && editingDeck.id == deck.id">
					<div class="card-text" ng-bind-html="deck.name | nl2br"></div>
					<div class="card-footer">
						<a href="#" class="link color-red">Delete</a>
						<a href="#" class="link" ng-click="editDeck(deck)">Edit</a>
					</div>
				</div>
			</div>
		</div>
		<div class="list-block" ng-if="decks.length == 0">
			<div class="list-block-label">There are no decks that could be displayed.</div>
		</div>
<!-- 		<div class="list-block-label">There are no cards that could be displayed.</div> -->
		<!--<div class="block">
			<div class="row">
				<div class="col-33" ng-repeat="package in packageData">
					<div class="package">
						<div class="package-header">
							<p class="package-title">{{package.name}}</p>
							<span class="package-status ready"></span>
						</div>
						<p class="package-description">{{package.shortDescription}}</p>
					</div>
				</div>
			</div>
		</div>-->
	</div>
</div>