<div class="lobby">
	<header ng-class="{'expanded': expandHeader}">
		<div class="exit-button" ng-click="socket.disconnect()"></div>
		<div class="title">Game Lobby</div>

		<!-- <ul class="nav">
			<li class="selected">Games</li>
			<li>Create Game</li>
			<li>Settings</li>
		</ul> -->

		<tab-header headers="headers"></tab-header>

		<div class="expand-button" ng-click="expandHeader = !expandHeader"></div>
	</header>

	<div class="tab-controller">
		<div class="tab" style="left: 0">
			<div class="page-content">
				<div class="games-list">
					<div class="game" ng-repeat="game in gameList track by $index" ng-click="showGameDetails(game)">
						<div class="game-content">
							<p class="title">{{game.gameName}}</p>
							<p class="info">Game: {{game.gameMode}}</p>
							<p class="info">{{game.playerCount}} / {{game.maxPlayers}} Players</p>
						</div>
					</div>
					<p ng-if="!gameList.length ">There are currently no games.</p>
				</div>
			</div>
		</div>
		<div class="tab">
			<div class="page-content" ng-controller="GameSetupController as GameSetupController">
				<ng-form name="createGameForm">
					<fieldset>
						<legend>Create Game</legend>
						<table>
							<tr>
								<td><label>Game Mode:</label></td>
								<td>
									<select ng-model="currentBundle" ng-change="gameBundleChanged()">
										<option ng-repeat="bundle in gameBundles" value="{{bundle.clientDir}}">{{bundle.displayName}}</option>
									</select>
								</td>
							</tr>
							<tr>
								<td><label>Password:</label></td>
								<td><input type="text" placeholder="Optional" ng-model="gameOptions.password"></td>
							</tr>
						</table>
						<ng-include ng-if="currentBundle" src="hostname +'/' + currentBundle + '/createGame.html'" />
					</fieldset>
					<button ng-disabled="!createGameForm.$valid" ng-click="createGame()" style="background-color: #0099BC; margin: 15px auto 0; width: 100%; max-width: 630px; display: block;">Create Game</button>
				</ng-form>
			</div>
		</div>
		<div class="tab">
			<div class="page-content">
				tab 3
			</div>
		</div>
	</div>
	
		<!--  -->
	<div class="game-detail-overlay" ng-class="{'visible': isShowingGameDetails}"></div>
	<div class="game-details" ng-class="{'visible':isShowingGameDetails}">
		<div class="exit-button" ng-click="isShowingGameDetails = false;"></div>

		<p class="game-title">Game Info – {{game.gameName}}</p>
		<table>
			<tr>
				<td>Name:</td>
				<td>{{game.gameName}}</td>
			</tr>
			<tr>
				<td>IP Address:</td>
				<td>{{hostname}}</td>
			</tr>
			<tr>
				<td>Players:</td>
				<td>{{game.playerCount}} / {{game.maxPlayers}}</td>
			</tr>
			<tr>
				<td>Latency:</td>
				<td>{{latency}} ms</td>
			</tr>
		</table>
		<table class="player-info">
			<tr>
				<th>Player Name</th>
				<th>Score</th>
				<th>Time</th>
			</tr>
		</table>
		<div class="player-info-wrapper">
			<table class="player-info" style="margin-top: 0">
				<!-- <tr ng-repeat="n in [] | range:10">
					<td>test</td>
					<td>-1</td>
					<td>NaN</td>
				</tr> -->
				<tr>
					<td colspan="3">Server is not responding.</td>
				</tr>
			</table>
		</div>
		<button class="join-game" ng-if="!game.passworded" ng-click="joinGame(game)">Join Game</button>
		<button class="join-game" ng-if="game.passworded" ng-click="joinGame(game)">Join Game (Secured)</button>
	</div>
</div>